@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    background-color: #101630;
}

.gradient {
    background: rgb(80, 172, 219);
    background: linear-gradient(
        90deg,
        rgba(80, 172, 219, 1) 0%,
        rgba(75, 29, 196, 1) 100%
    );
}
